body {
    width: 30rem;
    font-size: 0.9rem;
}

.todo-items,
.todo-items li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.todo-items li {
    padding: 0.25rem;
    /* border-bottom: 0.02rem solid grey; */
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.todo-items li:hover {
    background: rgba(0, 0, 0, 0.137);
}

.todo-items li.done .item {
    text-decoration: line-through;
}
.todo-items div span {
    margin: 0.5rem;
    font-size: 1em;
    cursor: pointer;
}
.new-task{
    display: none;
}